<!DOCTYPE html>
<html>

<head>
    <title>Tambah Data</title>
</head>

<body>
    <h1>Tambah Data Baru</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Kode:</label><br>
        <input type="text" name="kode" required><br>
        <label>Nama:</label><br>
        <input type="text" name="nama" required><br>
        <label>Harga:</label><br>
        <input type="number" name="harga" required><br>
        <label>Upload Gambar:</label><br>
        <input type="file" name="file" required><br><br>
        <input type="submit" value="Simpan">
    </form>
</body>

</html>